<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

<title>无标题文档</title>
<style type="text/css">
    
    .deepColor{
        background: yellow;
        color: pink;
    }
</style>
 

<script src="../dist/vue.js"></script>

</head>
<body>

 <p id="el1"  v-bind:data-name="name"  >
 	Message: {{ msgs }}
 	<button v-bind:disabled="someDynamicCondition">Button</button>
 </p>  


 <p id="el2"    v-html="pp">Message: {{ pp }}</p>  
 <p>hello world</p>  



 <div id="app1" >
 	Javascript表达式:{{ value ? 'yes':'no' }}
 	<a v-bind:href="url">指令 DOM属性绑定</a>
 	<a :href="url">指令缩写</a>
 	<!-- <a @href="url">指令缩写</a>   -->

 	<button @click="say">给DOM绑定事件</button> 

 	<fieldset>
 		<legend>计算属性</legend>
 		<p>{{message}}</p>  
 		<p>{{reversedMessage}}</p>  
        <p>{{reversedMessage1()}}</p>

 		<!-- <p>{{reversedMessage()}}</p> 为啥这么写不行呢？？？ -->

 		<p>{{now}}</p>  
        <p id="now1">{{now1()}}</p>  

 		<p>计算setter：{{fullName}}</p>  

 	</fieldset>


  	<fieldset>
 		<legend>v-model</legend>
 		<input v-model="message" placeholder="edit me">
		<p>Message is: {{ message }}</p>


        <select   id="staging" name="staging" v-model="selected">
          <option value="">全选</option>
          <option value="百度1">百度</option>
          <option value="3601">360</option>
          <option value="应用宝1">应用宝</option>
          <option value="小米1">小米</option>
          <option value="魅族1">魅族</option>
          <option value="oppo1">oppo</option>
          <option value="小米1">小米</option>
          <option value="小米1">小米</option>
        </select>
        <p>selected is: {{ selected }}</p>

        <select   id="staging" name="staging" v-model="selected1" :value="selected1">
         <!-- 设置默认选中列表用v-model="selected1"或者:value="selected1" 都可以：<select   id="staging" name="staging"   :value="selected1"> -->
          <option value="">全选</option>
          <option value="百度11">百度</option>
          <option value="36011">360</option>
          <option value="应用宝11">应用宝</option>
          <option value="小米11">小米</option>
          <option value="魅族11">魅族</option>
          <option value="oppo11">oppo</option>
          <option value="小米11">小米</option>
          <option value="小米11">小米</option>
        </select>
        <p>selected is: {{ selected1 }}</p>
 	</fieldset>	


 
    <fieldset>
        <legend>条件渲染</legend>
         
        <h1 v-if="ok">hello</h1>

        <template v-if="ok">
          <h1>Title</h1>
          <p>Paragraph 1</p>
          <p>Paragraph 2</p>
        </template>


        <div v-if="Math.random()>0.5">
            Now you see me   
        </div>
        <div v-else>
            Now you don't
        </div>



        <div v-if="type === 'A'">
          A
        </div>
        <div v-else-if="type === 'B'">
          B
        </div>
        <div v-else-if="type === 'C'">
          C
        </div>
        <div v-else>
          Not A/B/C
        </div>

    </fieldset> 


    <fieldset>
        <legend>列表渲染</legend>

        <h4>迭代数组</h4>
         
         <ul>
             <li v-for="(item,index) of items">{{parentMsg}}-{{item}}-{{index}}</li>
         </ul>

          <ul>
            <template>
              <li v-for="(item,index) of items">{{parentMsg}}-{{item}}-{{index}}</li>  
              <li>template</li>  
            </template>
             
         </ul>


         <h4>迭代对象</h4>
          <ul>
             <li v-for="(value,key,index) in objects" v-on:click="doClick">{{index}}、{{key}}:{{value}}</li>
         </ul>

         <h4>整数迭代v-for</h4>
         <div>
             <span v-for="n in 10">{{n}}</span>
         </div>

         <div><h5>{{doMsg()}}</h5></div>

    </fieldset>   
 </div> 



 <h3 style="background:hsla(60,50%,50%,.5);">事件监听</h3>
 <fieldset id="app2">
   
   <button v-on:click="counter+=1" >hello</button>
    <p>点击了{{counter}}次</p>

   <h4>内联处理器方法</h4>
   <button v-on:click="say('hi')"  style="display: block;"> say hi</button>

    <h4>事件绑定方式一</h4>
   <button v-on:click="hsay()"  style="display: block;">v-on:click</button>

     <h4>事件绑定方式二</h4>
   <button @click="hsay()"  style="display: block;">@click</button>

   <h4>内联处理器方法，特殊变量$event</h4>

   <form action="www.baidu.com">
        <button v-on:click="submits('hi',$event)"   > have event</button>
   </form>

     <h4>事件修饰符 .once</h4>
   <!-- 点击事件将只会触发一次 -->
    <a v-on:click.once="doThis">点击只触发一次</a>

   <h4>阻止超链接的默认行为.prevent</h4>
    
    <a v-on:click.prevent="doPrevent" href="baidu.com">页面跳转</a>


     <h4>按键修饰符.enter</h4>
    
    <input v-on:keyup.enter="submits">



    <h4>Class 与 Style 绑定</h4>
    <p v-bind:class="{deepColor:isShow}">动态绑定class类</p>

    
    <h4>表单控件绑定</h4>
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>

     <h4>复选框</h4>
    <input type="checkbox" id="checkbox" v-model="checked">
   <label for="checkbox">{{ checked }}</label>



   
     <h4>多个勾选框，绑定到同一个数组：</h4>

    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>



<h4>单选按钮</h4>
<div id="example-4" class="demo">
  <input type="radio" id="one"  value="One" v-model="pickeds"  >
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="Two" v-model="pickeds">
  <label for="two">Two</label>
  <br>
  <span>Picked: {{ pickeds }}</span>
</div>


<h4>v-if 与v-show</h4>
<div style="height: 50px;background: pink; text-align: center;" v-if="vIf">
  <p>hello v-if</p>
</div>

<div style="height: 50px;background: yellow; text-align: center;" v-show="vShow">
  <p>hello v-show</p>
</div>

 </fieldset>



 <fieldset id="app3">

    <legend>组件</legend>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>

 </fieldset>
 <script type="text/javascript">

    //组件注册
     Vue.component('simple-counter',{
        template:'<button v-on:click="counter += 1">{{ counter }}</button>',
        data:function(){
            return {
                    counter:0
                } 
        }
     })

     var vcm=new Vue({
        el:'#app3'
     })

 </script>


 <script type="text/javascript">
     var vm=new Vue({
        el:"#el1",
        data:{
            msgs:"hello vue1",
            name:"蜡笔小新",
            someDynamicCondition:true
        }
     });


     var vm=new Vue({
        el:"#el2",
        data:{
            pp:"hello vue2"  

             
        }
     });

     var app1=new Vue({
     	el:"#app1",
     	data:{
     		value:true,
     		url:"www.baidu.com",
     		message:"hello world!",
     		firstName:"Tom",
     		lastName:"Jack",
            ok:"true",
            type:"A",
            parentMsg:"parentMsg",
            items:['water','bule sky'],
            objects:{
                name:"Tom",
                age:20
            },
            selected:null,
            selected1:'百度11',
     	},
        // 实例已经创建完成之后被调用。在这一步，实例已完成以下的配置：数据观测(data observer)，属性和方法的运算， watch/event 事件回调。然而，挂载阶段还没开始，$el 属性目前不可见。
        created: function(){
          var self = this;
          // console.log(self.$el.getAttribute("id")); self.$el is undefined
          console.log('实例创建完成')
        },
     	methods:{
     		say:function(){
     			alert("hello");
     		},
            doClick:function(event){
                  // console.log( event.target);
                  // event.target.setAttribute("style","color:yellow;");
                  console.log(event.target.tagName);
                  console.log(event.target.nodeName);
                  // event.target.cssText="color:red;"; //这句怎么不起作用呢？
            },
            doMsg:function(){
                return "This is methods's function";
            },
            //计算属性中实现同样效果的反转属性值得方法
            reversedMessage1:function(){
                return this.message.split('').reverse().join('');
            },

            /*相比计算属性中的now函数，此处的now1方法会在app1重新渲染的时候执行，例如修改app1.message='love me'的时候，页面模板#now1处的值会重新计算奥~~~*/
            now1:function(){
                return Date.now();
            }
     	},
        // 计算属性(计算属性是基于他们的依赖(如此处的依赖是data中的message)进行缓存的)
     	computed:{
     		reversedMessage:function(){
     			return this.message.split('').reverse().join('');
     		},
            /*此处的值只会计算一次，Date.now()不是响应式依赖*/
     		now:function(){
     			return Date.now();
     		},
     		fullName:{
     			get:function(){
     				return this.firstName+" "+this.lastName;
     			},
     			set:function(newValue){
     				var names=newValue.split(" ");
     				this.firstName=names[0];
     				this.lastName=names[names.length-1];
     			}

     		}
     	}
     });

     

     var app2=new Vue({
        el:"#app2",
        data:{
            counter:0,
            isShow:true,
            message:'bind data',
            checked:false,
            checkedNames:[],
            pickeds:'',
            vIf:true,
            vShow:true
        } ,
        methods:{
            say:function(param){
                alert(param);
            },
            submits:function(param,event){
                if (event) {
                    event.preventDefault();
                }
                alert(param);
            }
            ,
            hsay:function(){
                console.log("事件绑定");
            },
            doThis:function(){
                console.log('事件只触发一次')
            },
            doPrevent:function(){
                console.log('点击了超链接')
            },
            submits:function(){
                console.log('enter键')
            }
        }
     });
      

 </script>
</body>
</html>
