<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

<title>无标题文档</title>
<style type="text/css">
    
    .deepColor{
        background: yellow;
        color: pink;
    }

    .computed{
      background: yellow;
    }

    .methods{
      background: pink;
    }

   h4{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 30px;

    font-family:'CrimsonRoman', cursive;
    text-align:center;
    background-color:#ccc;
    margin:30px;
    color:#33CCFF;
    border-radius:6px;
    background:linear-gradient(#FFCCCC,#fff 50%,#FFCCCC);
    background:-moz-linear-gradient(#FFCCCC,#fff 50%,#FFCCCC);

   }
</style>
 

<script src="../dist/vue.js"></script>

</head>
<body>

 <p id="el1"  v-bind:data-name="name"  >
 	Message: {{ msgs }}
 	<button v-bind:disabled="someDynamicCondition">Button</button>
 </p>  


 <p id="el2"    v-html="pp">Message: {{ pp }}</p>  
 <p>hello world</p>  



 <div id="app1" >
 	Javascript表达式:{{ value ? 'yes':'no' }}
 	<a v-bind:href="url">指令 DOM属性绑定</a>
 	<a :href="url">指令缩写</a>
 	<!-- <a @href="url">指令缩写</a>   -->

 	<button @click="say">给DOM绑定事件</button> 

 	<fieldset>
 		<legend>计算属性</legend>
 		<p>{{message}}</p> 

    <!-- 注：如果计算方法A 和methods方法B不用在模板中的话，实例中的message属性变化时，这两种方法都不会执行的。 --> 
 		<p class="computed">========computed计算属性A:{{reversedMessage}}</p>  
    <p class="methods">------methods方法B：{{reversedMessage1()}}</p>

 		<!-- <p>{{reversedMessage()}}</p> 为啥这么写不行呢？？？  计算方法不能带括号的吧。。。。 -->

 		<p class="computed">computed计算属性now:{{now}}</p>  
    <p id="now1" class="methods">methods方法now1():{{now1()}}</p>  

 		<p>计算setter：{{fullName}}</p> 

    <h4>watch监测vue实例上的属性的数据变动,当下拉选项改变时，watchTest的值会发生变化，watch中的监测也会执行，绑定值得同时也可以代替onchange事件了.....</h4>
    <select v-model="watchTest">
      <option>apple</option>
      <option>芒果</option>
      <option>banana</option>
    </select>

    <h4>响应的data属性 </h4>
    <p @click='responseTest'>点击测试vue实例动态添加的属性是否是响应式的 </p> 
    <p>实例中声明过的属性：{{ rpObj.response}}</p>
    <p>后期添加到data上的：{{ rpObj.responseProps}}</p>
    <button type="button" @click="responseTest1">点击再次测试</button>

    <button @click="aryTest" style="display: block;">测试--变动的数组</button>
    <ul>
      <li v-for="(item,index) in rpObj.items">{{item}}</li>
    </ul>
 	</fieldset>


  	<fieldset>
 		<legend>v-model</legend>
 		<input v-model="message" placeholder="edit me">
		<p>Message is: {{ message }}</p>


        <select   id="staging" name="staging" v-model="selected">
          <option value="">全选</option>
          <option value="百度1">百度</option>
          <option value="3601">360</option>
          <option value="应用宝1">应用宝</option>
          <option value="小米1">小米</option>
          <option value="魅族1">魅族</option>
          <option value="oppo1">oppo</option>
          <option value="小米1">小米</option>
          <option value="小米1">小米</option>
        </select>
        <p>selected is: {{ selected }}</p>

        <select   id="staging" name="staging" v-model="selected1" :value="selected1">
         <!-- 设置默认选中列表用v-model="selected1"或者:value="selected1" 都可以：<select   id="staging" name="staging"   :value="selected1"> -->
          <option value="">全选</option>
          <option value="百度11">百度</option>
          <option value="36011">360</option>
          <option value="应用宝11">应用宝</option>
          <option value="小米11">小米</option>
          <option value="魅族11">魅族</option>
          <option value="oppo11">oppo</option>
          <option value="小米11">小米</option>
          <option value="小米11">小米</option>
        </select>
        <p>selected is: {{ selected1 }}</p>
 	</fieldset>	


 
    <fieldset>
        <legend>条件渲染</legend>
         
        <h1 v-if="ok">hello</h1>

        <template v-if="ok">
          <h1>Title</h1>
          <p>Paragraph 1</p>
          <p>Paragraph 2</p>
        </template>


        <div v-if="Math.random()>0.5">
            Now you see me   
        </div>
        <div v-else>
            Now you don't
        </div>



        <div v-if="type === 'A'">
          A
        </div>
        <div v-else-if="type === 'B'">
          B
        </div>
        <div v-else-if="type === 'C'">
          C
        </div>
        <div v-else>
          Not A/B/C
        </div>

    </fieldset> 


    <fieldset>
        <legend>列表渲染</legend>

        <h4>迭代数组</h4>
         
         <ul>
             <li v-for="(item,index) of items">{{parentMsg}}-{{item}}-{{index}}</li>
         </ul>

          <ul>
            <template>
              <li v-for="(item,index) of items">{{parentMsg}}-{{item}}-{{index}}</li>  
              <li>template</li>  
            </template>
             
         </ul>


         <h4>迭代对象</h4>
          <ul>
             <li v-for="(value,key,index) in objects" v-on:click="doClick">{{index}}、{{key}}:{{value}}</li>
         </ul>

         
          <h4>迭代对象数组</h4>
          <ul>
             <li v-for="(item,index) in itemsObj" v-on:click="doClick">{{item.name}}-{{index}}</li>
         </ul>

         <h4>整数迭代v-for</h4>
         <div>
             <span v-for="n in 10">{{n}}</span>
         </div>

         <div><h5>{{doMsg()}}</h5></div>


          <h4>v-once指令  通过使用 v-once 指令，你也能执行一次性地插值，当数据改变时，插值处的内容不会更新。 该节点上所有的数据绑定都不在改变</h4>
         <h2 v-once> This will never change {{onceMsg}}
          <p>Message is: {{ message }}</p>
         </h2>
         <button type="button" @click="onceTest">用v-once指令绑定的数据在实例数据变化时，插值不会改变</button>

    </fieldset>   
 </div> 



 <h3 style="background:hsla(60,50%,50%,.5);">事件监听</h3>
 <fieldset id="app2">
   
   <button v-on:click="counter+=1" >hello</button>
    <p>点击了{{counter}}次</p>

   <h4>内联处理器方法</h4>
   <button v-on:click="say('hi')"  style="display: block;"> say hi</button>

    <h4>事件绑定方式一</h4>
   <button v-on:click="hsay()"  style="display: block;">v-on:click</button>

     <h4>事件绑定方式二</h4>
   <button @click="hsay()"  style="display: block;">@click</button>

   <h4>内联处理器方法，特殊变量$event</h4>

   <form action="www.baidu.com">
        <button v-on:click="submits('hi',$event)"   > have event</button>
   </form>

     <h4>事件修饰符 .once</h4>
   <!-- 点击事件将只会触发一次 -->
    <a v-on:click.once="doThis">点击只触发一次</a>

   <h4>阻止超链接的默认行为.prevent</h4>
    
    <a v-on:click.prevent="doPrevent" href="baidu.com">页面跳转</a>


     <h4>按键修饰符.enter</h4>
    
    <input v-on:keyup.enter="submits">



    <h4>Class 与 Style 绑定</h4>
    <p v-bind:class="{deepColor:isShow}">动态绑定class类</p>

    
    <h4>表单控件绑定</h4>
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>

     <h4>复选框</h4>
    <input type="checkbox" id="checkbox" v-model="checked">
   <label for="checkbox">{{ checked }}</label>



   
     <h4>多个勾选框，绑定到同一个数组：</h4>

    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>



<h4>单选按钮</h4>
<div id="example-4" class="demo">
  <input type="radio" id="one"  value="One" v-model="pickeds"  >
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="Two" v-model="pickeds">
  <label for="two">Two</label>
  <br>
  <span>Picked: {{ pickeds }}</span>
</div>


<h4>v-if 与v-show</h4>
<div style="height: 50px;background: pink; text-align: center;" v-if="vIf">
  <p>hello v-if</p>
</div>

<div style="height: 50px;background: yellow; text-align: center;" v-show="vShow">
  <p>hello v-show</p>
</div>

 </fieldset>



 <fieldset id="app3">

    <legend>组件</legend>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>

 </fieldset>
 <script type="text/javascript">

    //组件注册
     Vue.component('simple-counter',{
        template:'<button v-on:click="counter += 1">{{ counter }}</button>',
        data:function(){
            return {
                    counter:0
                } 
        }
     })

     var vcm=new Vue({
        el:'#app3'
     })

 </script>


 <script type="text/javascript">
     var vm=new Vue({
        el:"#el1",
        data:{
            msgs:"hello vue1",
            name:"蜡笔小新",
            someDynamicCondition:true
        }
     });


     var vm=new Vue({
        el:"#el2",
        data:{
            pp:"hello vue2"  

             
        }
     });

     var app1=new Vue({
     	el:"#app1",
     	data:{
     		value:true,
     		url:"www.baidu.com",
     		message:"hello world!",
     		firstName:"Tom",
     		lastName:"Jack",
        ok:"true",
        type:"A",
        parentMsg:"parentMsg",
        itemsObj:[{name:'helln'},{name:'tom'},{name:'jack'}],
        items:['water','bule sky'],
        objects:{
            name:"Tom",
            age:20
        },
        selected:null,
        selected1:'百度11',
        watchTest:'apple',
        
        rpObj:{
          response:'hello',
          items:['111','222']
        },
        onceMsg:'hello v-once'

     	},
      // 实例已经创建完成之后被调用。在这一步，实例已完成以下的配置：数据观测(data observer)，属性和方法的运算， watch/event 事件回调。然而，挂载阶段还没开始，$el 属性目前不可见。
      created: function(){
        var self = this;
        // console.log(self.$el.getAttribute("id")); self.$el is undefined
        console.log('实例创建完成')
      },
     	methods:{
        onceTest:function(){
          this.onceMsg='changed.......'
        },
     		say:function(){
     			alert("hello");
     		},
        doClick:function(event){
              // console.log( event.target);
              // event.target.setAttribute("style","color:yellow;");
              console.log(event.target.tagName);
              console.log(event.target.nodeName);
              // event.target.cssText="color:red;"; //这句怎么不起作用呢？
        },
        doMsg:function(){
            return "This is methods's function";
        },
        //计算属性中reversedMessage方法 相比下，实现同样效果的反转属性值的methods方法
        reversedMessage1:function(){
            
            return this.message.split('').reverse().join('');
        },

        /*相比计算属性中的now函数，此处的now1方法会在app1重新渲染的时候执行，例如修改app1.message='love me'的时候，页面模板#now1处的值会重新计算奥~~~*/
        now1:function(){
            return Date.now();
        },
        /*
           由于JavaScript的限制，Vue不能检测到一下变动的数组：
            1.当利用索引改变数组某一项的值时
            2.更改数组的length值时
           但是可以通过Vue.set或者数组的splice方法代替，此时才会引发Dom更新
        */
        aryTest:function(){
          // this.rpObj.items[0]='更改之后的第一项'
          Vue.set(this.rpObj.items,0,'更改之后的第一项');

          // this.rpObj.items.splice(0,1,'更改之后的第一项');
        },

        /*vue不能动态检测实例创建之后添加属性，必须用vm.$set方法给嵌套的对象添加动态属性，此时的属性才是响应式的，在一处改动值时，不管在哪，该属性的值都会同步。
        但是，有个新发现：像下面在给rpObj添加新的属性responseProps时，如果有修改rpObj之前声明过的属性response的值，那responseProps在DOM中会引发DOM更新，原因可能是vue的数据检测吧，响应的属性更改值得同时会把vue实例中的属性全部更新一遍，因此，responseProps才会在页面上看到值得变动，但之后若再单独更改responseProps的值，页面上不会发生数据更改，除非同时更改已声明过的属性的值，但这样不太现实。
          
        */
        responseTest:function(){
           
          var vm=this;
          
          vm.rpObj.response="changed....";//修改在实例中声明过的属性值

          vm.rpObj.responseProps="new add prop value";//新添加的属性赋值  这个值得变动会在页面上显现出来
          
          // vm.$set(vm.rpObj,'responseProps','hihihihi')


        },
        responseTest1:function(){

         
          // this.rpObj.response="changed....after";
          this.rpObj.responseProps="new add prop sssss";//此处值得变动不会在页面上显现出来
          

        }
     	},
     /*  计算属性(计算属性是基于他们的依赖(如此处的依赖是data中的message)进行缓存的，只要message的值不变，这个计算属性就不会执行，而methods中的reversedMessage1方法在vue的其它实例的属性值发生变化时都会被执行的。)*/
     	computed:{
     		reversedMessage:function(){
          console.log('reversedMessage=====================reversedMessage/////');
     			return this.message.split('').reverse().join('');
     		},
        /*此处的值只会计算一次，Date.now()不是响应式依赖,因此不会再次计算*/
     		now:function(){
     			return Date.now();
     		},
     		fullName:{
     			get:function(){
     				return this.firstName+" "+this.lastName;
     			},
     			set:function(newValue){
     				var names=newValue.split(" ");
     				this.firstName=names[0];
     				this.lastName=names[names.length-1];
     			}

     		}
     	},
      watch:{
        watchTest:function(newVal){
          console.log(newVal);
        }
      }
     });

     

     var app2=new Vue({
        el:"#app2",
        data:{
            counter:0,
            isShow:true,
            message:'bind data',
            checked:false,
            checkedNames:[],
            pickeds:'',
            vIf:true,
            vShow:true
        } ,
        methods:{
            say:function(param){
                alert(param);
            },
            submits:function(param,event){
                if (event) {
                    event.preventDefault();
                }
                alert(param);
            }
            ,
            hsay:function(){
                console.log("事件绑定");
            },
            doThis:function(){
                console.log('事件只触发一次')
            },
            doPrevent:function(){
                console.log('点击了超链接')
            },
            submits:function(){
                console.log('enter键')
            }
        }
     });
      

 </script>
</body>
</html>
